@import "../variables.scss";

.articleItem {
  :global(.bg-blue) & {
    background-color: #183966;
  
    &:nth-child(2) {
      background-color: $blue;
    }
  
    p {
      color: #7890ad;
    }
  }

  :global(.bg-light) & {
    background-color: $gray-100;
    border-bottom: 1px solid $gray-300;

    &:last-child {
      border-bottom: none;
    }
  
    p {
      color: $gray-600;
    }
  }
  
  p {
    font-size: $font-size-sm;
  }
}
