// Local variables
@import "./variables.scss";

// Bootstrap
@import "./bootstrap.scss";

.extra-rounded {
  border-radius: 1.5rem;
}

.a-underlined {
  box-shadow: inset 0 -0.1rem $white,
  inset 0 -0.2em 0 $pink;
  display: inline-block;
  transition: box-shadow 200ms ease,
    color 200ms ease,
    transform 200ms ease;

  &:hover,
  &:active {
    box-shadow: inset 0 -0.1rem $white,
      inset 0 -1.25rem 0 $pink;
    color: $white;
  }

  &:active {
    transform: translate(0, .1rem);
  }
}
